/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo. 
Feel free to use it if you like. */
body {
  font-family: Helvetica;
  background: url('./images/space.jpg');
}

.scoreboard {
  color: #f7f7f7;
  display: inline-block;
  position: fixed;
}

.player {
  z-index: 10;
}

.enemy {
  background-color: pink;
}
